
<div class="card comment-card" id="comment-form">

  <%= form_for([@current_project, @comment]) do |f| %>

    <%= f.label "Your Comment", id: "comment-label" %>
    <%= f.text_area :content, class: "materialize-textarea", id: "comment-content" %>

    <%= f.submit "Submit Comment", class: "btn btn-color", id:"comment-submit" %>

  <% end %>

</div>
