<footer class="page-footer green lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Crowdfunder</h5>
        <p class="grey-text text-lighten-4">We fund crowds.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer>
