<nav>
  <div class="nav-wrapper green lighten-2">
    <div class="container">  
    <a href="#" class="brand-logo ">Crowdfunder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </div>
  </div>
</nav>
