<nav>
  <div class="nav-wrapper green lighten-2">
    <%= link_to "Crowdfunder", root_path, class:"brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <%= link_to "Login", login_path %> </li>
      <li><a href="#">Projects</a></li>
    </ul>
  </div>
</nav>
