

<%= render partial: "shared/jumbotron" %>


<div class="container">
  <div class="row">

    <!-- When I have the projects enumerate here to create cards -->
    <div class="card col s3">
      <div class="card-image">
        <img src="http://media.gettyimages.com/photos/hipster-barista-working-at-laptop-in-coffee-shop-picture-id554995479?s=170667a">
        <span class="card-title">Synth Schlitz</span>
      </div>
      <div class="card-content">
        <p>Art party godard activated charcoal, yr unicorn sint bushwick chicharrones copper mug celiac PBR&B in cardigan. Helvetica la croix hella odio. </p>
      </div>
    </div>

    <div class="col s1"><p></p></div>

    <div class="card col s3">
      <div class="card-image">
        <img src="https://inconsistentyouth.files.wordpress.com/2010/07/letouriii_3.jpg">
        <span class="card-title">Green Juice</span>
      </div>
      <div class="card-content">
        <p>XOXO thundercats sunt post-ironic, nesciunt pitchfork echo park authentic narwhal. Chartreuse try-hard elit, odio enamel pin prism franzen velit you probably haven't heard of them.</p>
      </div>
    </div>

    <div class="col s1"><p></p></div>

    <div class="card col s3">
      <div class="card-image">
        <img src="https://68.media.tumblr.com/c74aeb9674cf47058f82bc39fb34c63c/tumblr_ofajf5h3WP1vcpcsco1_500.jpg">
        <span class="card-title">Flexitarian Venmo</span>
      </div>
      <div class="card-content">
        <p> Chicharrones pour-over green juice ugh brooklyn jianbing. Incididunt veniam lo-fi paleo, enamel pin yuccie non thundercats you probably haven't heard of them four dollar toast.</p>
      </div>
    </div>
  </div>
</div>
