
/*
=======
colors
=======
*/

$greenish: #81c784;
$plurple: #3A1DD0;
$the-orange: #ff9800;

/*
=======
jumbotron
=======
*/

.jumbo-background {
  max-width: 100%;
  background-color: $plurple;
  display: block;
  margin-top: 0;
}

#welcome {
  color: $greenish;
}

/*
=======
Homepage
=======
*/

/*
=======
User Show
=======
*/
.image-size {
  height: 200px;
  width: 200px;
}

.margin {
  margin-top: 50px;
  height: 240px;
}
