
/*
=======
colors
=======
*/

$greenish: #81c784;
$plurple: #3A1DD0;
$the-orange: #ff9800;
$beige: #f7f5f2;

/*
=======
jumbotron
=======
*/

.jumbo-background {
  max-width: 100%;
  background-color: $plurple;
  display: block;
  margin-top: 0;
}

#welcome {
  color: $greenish;
}

/*
=======
Homepage
=======
*/

/*
=======
User Show
=======
*/
.image-size {
  height: 200px;
  width: 200px;
}

.margin {
  margin-top: 50px;
  height: 240px;
}

/*
=======
Project Index
=======
*/

.project-index {
  height: 500px;
  background: $beige;
  border-radius: 10px;
  margin-top: 40px;
}

.proj-index-img {
  border-radius: 10px;
}

.project-jumbo {
  color: $plurple;
  background: $beige;
  box-shadow:0 1px 2px rgba(0,0,0,0.24)
}

#tag-line {
  color: $the-orange;
}

#proj-count {
  color: $greenish;
}


/*
=======
Body
=======
*/

.contain {
  margin-right: 50px;
  margin-left: 50px;
}

/*
=======
forms
=======
*/

.form-card {
  background: $beige;
  margin-top: 75px;
  border-radius: 10px;
}

/*
=======
nav
=======
*/


.nav-shadow {
  box-shadow:0 1px 2px rgba(0,0,0,0.24)
}
