/*colors*/

$greenish: #81c784;
$plurple: #3A1DD0;
$the-orange: #ff9800;
$beige: #f7f5f2;
$light-red: #ef9a9a;


.status-bar {
  margin: 20px 0 20px 0;
}

#percent-card {
  padding: 5px 0 5px 0;
  margin-left: 10px;
}

#proj-total {
  padding: 5px 0 5px 0;
}

#total-card {
  width: 150px;
  margin-left: 10px;
}

#date-card {
  width: 150px;
  padding: 5px 0 5px 0;
  margin-left: 10px;
}

#total-funded {
  width: 150px;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  margin-left: 10px;
}

#my-funded {
  width: 150px;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  margin-left: 10px;
}

#status-size {
  height: 20px;
  margin: 5px 0 5px 0;
  max-width: 100%;
}

.status-color {
  border-radius: 5px;
  // background: linear-gradient(150deg, $light-red, $greenish);
  background: linear-gradient(42deg, $light-red 0%, $greenish 100%);
}

.btn-color {
  background: $plurple;
}


.btn-color:hover{
  background: $greenish
}

.proj-name {
  color: $plurple
}

.status-card{
  margin-top: 100px;
  margin-left: 50px;
  background: $beige
}

/*
=====
description
=====
*/

#proj-description {
  color: black
}

.proj-card {
  margin-top: 20px;
  background: $beige;
}

/*
======
Comments
======
*/
.btn-delete {
  background-color: $the-orange;
}
.author {
  margin-bottom: 50px;
}

#comment-label {
  padding: 20px 0 0 10px;
}

.comment-card {
  background: white;
  border-radius: 10px;
}

#comment-submit {
  margin: 0 0 20px 20px;
}
